.footer {
    position: relative;

    &-image {
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    &__container {
        position: absolute;
        top: 47%;
        width: 100%;
        font-size: 14px;
    }
    &-links {
        display: flex;
        justify-content: space-between;
        padding: 0 85px 0 50px ;
        margin-bottom: 50px;

        &__container {
            display: flex;
            color: $white-color;

            &-left {
                margin-right: 140px;
                
                &>a {
                    display: inherit;
                }
            }
            &-right {
                &>a {
                    display: inherit;
                }
            }
            .horizontal-line {
                width: 257px;
                border: 1px solid $light-green;
                margin: 12px 0;
            }
        }  
    }
    .copyright {
        display: flex;
        justify-content: center;
        color: $white-color;
        
        &-bg {
            position: absolute;
            bottom: 0;  
        }
    }
}