header {
    font-size: 16px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 36px;


    &-options {
        list-style: none;
        display: flex;
        color: $gray-color;
        
        &>li {
            margin-right: 36px;
        }
    }
    &-button {
        font-size: 13px;
    }
}
.menu-icon {
    display: none;
}
.cancel-icon {
    
    display: none;
}