$white-color: white;
$primary-white-color: #FAFAFA;
$orange-color: #FC9C41;
$primary-orange-color: #F58923;
$light-orange-color: rgba(245, 137, 36, 0.1);
$dark-green-color: #0E7745;
$gray-color: #707070;
$light-green : #339F6C;
$light-gray: #575757;
$primary-gray: #2B2B2B;
$transparent-gray: rgb(10 8 8 / 74%);
$shadow-gray: rgb(10 8 8 / 25%);
$primary-black-color: #121213;
$secondary-black-color: #3D3D3D;
$black-color: black;

$primary-font: "Poppins";
$footer-background:"footer-bg";
$banner-card-left: "/images/card-bg.png";

$thin: 100;
$extra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black: 900;
$extra-black: 950;